---
layout: default
---
{% if page.header.overlay_color or page.header.overlay_image or
page.header.image %}
{% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
{% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
{% unless paginator %}
{% include breadcrumbs.html %}
{% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="showcase">
    {% if page.title %}
    <meta itemprop="headline"
      content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.excerpt %}
    <meta itemprop="description"
      content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.last_modified_at %}
    <meta itemprop="dateModified"
      content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}
    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
      <header>
        {% if page.title %}<h1 id="page-title" class="page__title p-name"
          itemprop="headline">
          <a href="{{ page.url | absolute_url }}" class="u-url"
            itemprop="url">{{
            page.title | markdownify | remove: "<p>" | remove:
              "</p>" }}</a>
        </h1>{% endif %}
        {% include page__meta.html %}
      </header>
      {% endunless %}

      <section class="page__content e-content" itemprop="text">
        {{ content }}
        {% if page.showcase %}
        {% for s in page.showcase %}
        {% if s.title %}
        {% assign showcase_title = s.title | markdownify | strip_html |
        strip_newlines | slugify %}
        <h2 id="{{ showcase_title }}" class>
          {{ s.title | markdownify | strip_html | strip_newlines }}
          <a class="header-link" href="#{{ showcase_title }}" title="Permalink">
            <span class="sr-only">Permalink</span>
          </a>
        </h2>
        {% endif %}
        {% assign entries_layout = s.entries_layout | default: 'list' %}
        {% assign entries_kind = s.kind %}
        {% if entries_layout == 'feature_row' %}
        {% assign alignment = s.alignment | default: 'left' %}
        {% assign alternate_alignment = s.alternate_alignment %}
        <div class="entries-{{ entries_layout }}">
          {% include showcase-teaser.html collection=page.collection
          sort_by=page.sort_by sort_order=page.sort_order kind=entries_kind
          alignment=alignment alternate_alignment=alternate_alignment %}
        </div>
        {% else %}
        <div class="entries-{{ entries_layout }}">
          {% include showcase-single.html collection=page.collection
          sort_by=page.sort_by sort_order=page.sort_order type=entries_layout
          kind=entries_kind %}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if page.link %}<div><a href="{{ page.link }}"
            class="btn btn--primary">{{
            site.data.ui-text[site.locale].ext_link_label | default: "Direct
            Link" }}</a></div>{% endif %}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
        <h4 class="page__meta-title">{{
          site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__date.html %}
      </footer>

      {% if page.share %}{% include social-share.html %}{% endif %}

      {% include post_pagination.html %}
    </div>
  </div>
</div>
